body {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }

.App {
    display: flex;
    justify-content: center;
    text-align: center;   
    width: 100%;
    }

.todo__list{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    border: 1px solid lightgray;
    margin-bottom: 10px !important;
    }

.CardBox h1{
    color: #42a5f5;
}


