body {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    width: 100%;
  }

.App {
    text-align: center;  
    width: 100%;
    }

.todo__list{
    display:flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    border: 1px solid lightgray;
    margin-bottom: 10px !important;
    }


.CardBox h1{
    color: #42a5f5;
}


