.App {
    display:grid;
    place-items:center;
    align-items: center;
    align-content: center;
    width: 100%;
    }

.todo__list{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    border: 1px solid lightgray;
    margin-bottom: 10px !important;
    }

